body {
  margin: 0;
  /* Remove default body margins */
  display: flex;
  justify-content: center;
  /* Horizontally center content */
  align-items: center;
  /* Vertically center content */
  min-height: 100vh;
  /* Ensure body takes up full viewport height */
  background-color: #333;
  /* Dark background */
  color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}

.elevator-shaft {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid #555;
  /* Darker border */
  width: 600px;
  /* Wider shaft */
  margin-top: 20px;
  background-color: #222;
  /* Darker background */
  padding: 10px;
}

.floor {
  border-bottom: 1px solid #444;
  /* Darker floor separator */
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floor-number {
  font-size: 1.2em;
  font-weight: bold;
  width: 20px;
  /* Fixed width for floor number */
  text-align: center;
}

.elevators-on-floor {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.elevator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  /* Fixed width for elevator container */
}

.elevator {
  width: 60px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #777;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: all 0.2s ease;
  color: black;
  /* Smooth transitions */
}

.elevator-here {
  background-color: #aaa;
  /* Highlight current elevator */
}

.call-buttons {
  display: flex;
  flex-direction: column;
}

.call-button {
  cursor: pointer;
}

.call-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.active-call-up {
  background-color: lightgreen;
  color: black;
}

.active-call-down {
  background-color: lightcoral;
  color: black;
}

.elevator.elevator-here {
  /* border: 3px solid #0f0; */
  background-color: rgb(92, 179, 135);
  color: black;
  /* Slightly scale it up */
}

.highlighted {
  border: 1px solid rgb(255, 0, 0);
}
